

<section style="background: url('assets/b.jpg') no-repeat center/cover;
">
  <div class="form-box">
   <div *ngIf="successMessage" class="alert alert-success text-center">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger text-center">
            {{ errorMessage }}
          </div>
           <div class="text-center">
               <img src="assets/favicon.png" class="img-fluid" alt="" srcset="">
             </div>
    <form [formGroup]="forgotForm" (submit)="sendForgotPassword()" novalidate>
      <h2>Forgot Password</h2>
      <div class="inputbox">
        <input type="text" formControlName="regid" required>
        <label>User Id</label>
      </div>
      <div class="inputbox">
        <input type="text" formControlName="email" required>
        <label>Email</label>
      </div>
      <button type="submit" [disabled]="!forgotForm.valid">Submit</button>
      <div class="register">
        <p>Don't have an account? <a href="#" routerLink="/login">Login</a></p>
      </div>
    </form>
  </div>
</section>
