<div class="dashboard-container" style="margin-bottom: 75px;">
  <!-- Back Header -->
<app-header></app-header>
<h4 class="text-center mt-1">Referrals</h4>
  <!-- Loader -->
  <div *ngIf="isLoading" class="d-flex flex-column justify-content-center align-items-center" style="height:200px;">
    <img src="assets/favicon.png" alt="Loading..." width="60" height="60" class="mb-3">
    <p class="fw-semibold text-primary">Loading referrals...</p>
  </div>

  <!-- Referrals List -->
  <div *ngIf="!isLoading">
    <div *ngIf="data1?.length > 0; else noData">
      <div class="referral-list">
        <div class="referral-card" *ngFor="let row of data1">
          <div class="ref-icon"><i class="bi bi-person-fill"></i></div>
          <div class="ref-info">
            <div class="d-flex justify-content-between align-items-center">
              <div class="ref-name">{{ row.directsponcer }} </div>
              <div class="ref-id text-gradient">Sponsor Count: {{ row.sponcercount }} </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-1">
              <div class="ref-date">{{ row.name }} </div>
              <span class="badge badge-success">
                Team: {{ row.teamcount }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noData>
      <div class="text-center text-white mt-4">
        No referrals found.
      </div>
    </ng-template>
  </div>
</div>

<app-footer></app-footer>