<div class="crypto-tree-section">
  <h4 class="tree-title">🌐 Board 2 Tree</h4>

  <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

  <div class="tree-slider-wrapper" *ngIf="data?.length">
    <div class="tree-slider">
      <ng-container *ngFor="let boardTree of data">
        <div class="tree-node-container">
          <ng-template
            [ngTemplateOutlet]="recursiveNode"
            [ngTemplateOutletContext]="{ $implicit: boardTree }"
          ></ng-template>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #recursiveNode let-node>
    <div class="tree-node">
      <img [src]="node.image" alt="User Icon" />
      <div class="node-title">{{ node.title }}</div>

      <div class="children" *ngIf="node.children?.length">
        <ng-container *ngFor="let child of node.children">
          <ng-template
            [ngTemplateOutlet]="recursiveNode"
            [ngTemplateOutletContext]="{ $implicit: child }"
          ></ng-template>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>
